

.card {
    width: 100%;
}

.cardContent {
    border-top-style: solid;
    border-top-color: black;
    text-align: center;
}

.homecontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.homecontainer > div {
    display: flex; 
    flex-basis: calc(50%);  
    flex-direction: column;
}

.media {
    height: 200px;
}


