

.card {
    width: 100%;
}

.cardContent {
    border-top-style: solid;
    border-top-color: black;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.container > div {
    display: flex; 
    flex-basis: calc(50%);  
    flex-direction: column;
}

.media {
    height: 200px;
}

