.inputForm {
    background-color: white;
    padding: 5%;
    height: 500px;
}

.imagePreview {
    height: 69%;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid gray;
    color: gray;
    background-color: white;
    //display: inline-block;
    padding: 12px;
    cursor: pointer;
    font-size: medium;
    margin: 10px;
}

.custom-file-upload:hover {
    background-color: deepskyblue; 
    color: white;
    cursor: pointer;
}

.buttonContainer {
    padding:10px;
}
