.sellcontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.sellcontainer > div {
    display: flex; 
    flex-basis: calc(50%);  
    flex-direction: column;
}

.sellfooter {
    display: flex;
    justify-content: flex-end;
}

.footerButton{
    width: 15%;
    background-color: transparent;
    border: solid;
    color: white;
    padding: 5px 10px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-size: large;
    font-weight: bolder;
    display: inline-block;
    font-size: 16px;
}

.footerButton:hover {
    background-color: deepskyblue; 
    color: white;
    cursor: pointer;
}

//.container > div {
//    display: flex; 
//    flex-basis: calc(50%);  
//    flex-direction: column;
//}